:root {
  --primay: black;
  --bg-primay: white;

  --link: #2a0b0b;
}

.App {
  text-align: center;
}

.App .section {
  padding: 20px;
  margin: 20px;
  border: 1px solid var(--primay);
  border-radius: 5px;
  background-color: var(--bg-primay);
}
